:root {
    --avatar-background-color: var(--color-gray-light);
}

.avatar {
    border-radius: 50%;
    display: inline-block;
    background-color: var(--avatar-background-color);
}

.avatar__image {
    border-radius: 50%;
    transition: opacity .2s;
}

.avatar__image--hidden {
    opacity: 0;
}

.avatar__image--visible {
    opacity: 1;
}
