@import "../../config";

.avatar {
    @include circle;
    display: inline-block;
    background-color: map_get($color, gray-light-ultra);
}

.avatar__image {
    @include circle;
    transition: opacity .2s;
}

.avatar__image--hidden {
    opacity: 0;
}

.avatar__image--visible {
    opacity: 1;
}
