.badge {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.badge--xs {
    width: 8px;
    height: 8px;
}

.badge--sm {
    width: 16px;
    height: 16px;
}

.badge--md {
    width: 32px;
    height: 32px;
}


.badge--lg {
    width: 60px;
    height: 60px;
}
