@import "../../config";

.badge {
    width: map_get($space, xl);
    height: map_get($space, xl);
    border-radius: 50%;
    display: inline-block;
}

.badge--xs {
    width: map_get($space, sm);
    height: map_get($space, sm);
}

.badge--sm {
    width: map_get($space, md);
    height: map_get($space, md);
}

.badge--md {
    width: map_get($space, xl);
    height: map_get($space, xl);
}

.badge--lg {
    width: map_get($space, xxl);
    height: map_get($space, xxl);
}
