
.assembly-issue-speeches-panel {
    max-width: 1280px;
    padding: 0 1.953rem;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.953rem;
}

@media screen
and (min-device-width: 640px)
{
    .assembly-issue-speeches-panel {
        grid-template-columns: 1fr 2fr;
    }
}

.assembly-issue-speeches-panel__user {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
}

@media screen
and (min-device-width: 640px)
{
    .assembly-issue-speeches-panel__user {
        grid-column: 2 / span 1;
    }
}

.assembly-issue-speeches-panel__nav {
    grid-column: 1 / span 1;
}

@media screen
and (min-device-width: 640px)
{
    .assembly-issue-speeches-panel__nav {
        grid-column: 2 / span 1;
    }
}

.assembly-issue-speeches-panel__header {
    background-color: #E1EFFA;
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

@media screen
and (min-device-width: 640px)
{
    .assembly-issue-speeches-panel__header {
        grid-column: 1 / span 1;
        grid-row: 1 / span 2;
    }
}

.assembly-issue-speeches-panel__aside {

}

@media screen
and (min-device-width: 640px)
{
    .assembly-issue-speeches-panel__aside {
        grid-column: 2 / span 1;
        grid-row: 3 / span 1;
    }
}

.assembly-issue-speeches-panel__items {
    grid-column: 1 / span 1;
}

@media screen
and (min-device-width: 640px)
{
    .assembly-issue-speeches-panel__items {
        grid-column: 1 / span 2;
    }
}

.assembly-issue-speeches-panel_stats {
    grid-column: 1 / span 1;
}

@media screen
and (min-device-width: 640px)
{
    .assembly-issue-speeches-panel_stats {
        grid-column: 1 / span 2;
    }
}
