.issue-ratio-table {}

.issue-ratio-table__count-label {

}
.issue-ratio-table__type-label {
    padding: 0 var(--space-s);
}

.issue-ratio-table__count {
    text-align: right;
}
.issue-ratio-table__type {
    padding: 0 var(--space-s);
}

