@import "../../config";

.assembly-issues-panel {
    //ref
}

.assembly-issues-panel__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: map_get($space, md);
    grid-row-gap: map_get($space, md);
}

.assembly-issues-panel__list-item {
    //ref
}
