@import "../../config";

$enable-grid-classes: true;

$grid-columns: 12;
$grid-gutter-width: map_get($space, xl);

$grid-breakpoints: (
    xs: 0,
    sm: map_get($breakpoint-values, sm),
    md: map_get($breakpoint-values, md),
    lg: map_get($breakpoint-values, lg),
    xl: map_get($breakpoint-values, xl),
);

$container-max-widths: (
    sm: map_get($breakpoint-values, sm),
    md: map_get($breakpoint-values, md),
    lg: map_get($breakpoint-values, lg),
);

@import "bootstrap/scss/mixins/_clearfix.scss";
@import "bootstrap/scss/mixins/_breakpoints.scss";
@import "bootstrap/scss/mixins/_grid-framework.scss";
@import "bootstrap/scss/mixins/_grid.scss";
@import "bootstrap/scss/_grid.scss";
@import "bootstrap/scss/utilities/_flex.scss";

.row-tall {
    height: 100%;
}
