@import "../../config";
@import "../../elements";

.assembly-panel {
    display: grid;
    grid-template-columns: minmax(480px, 1fr) 2fr;
    grid-template-rows: auto;
    grid-template-areas:
        "app__header app__user"
        "app__header app__nav"
        "app__header app__issues"
        "app_stats app__issues"
        "app_stats app__congressmen"
        ". app__congressmen";
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
}

.assembly-panel__user {
    grid-area: app__user;
}

.assembly-panel__nav {
    grid-area: app__nav;
}

.assembly-panel__header {
    @include page-header
}

.assembly-panel__issues {
    grid-area: app__issues;
}

.assembly-panel_stats {
    grid-area: app_stats;
}

.assembly-panel__congressmen {
    grid-area: app__congressmen;
}


// tmp
.assembly-panel__congressmen {
    display: grid;
    grid-template-columns: 1fr 1fr;

}
