
$spacing: (
    xxs: 4px,
    xs: 8px,
    sm: 12px,
    md: 16px,
    lg: 24px,
    xl: 32px,
    xxl: 64px,

    half-xxs: (4px / 2),
    half-sm: (12px / 2),
    half-md: (16px / 2)
);

$colors: (
    bg: white,
    selected-bg: rgb(234, 240, 250),
    checked-bg: rgb(43, 110, 210),
    border-color-normal: rgb(197, 203, 207),
    border-color-active: rgb(51, 62, 71),
    success: green,
    error: red,
    warning: yellow,
    info: blue
);

$borders: (
    width: 1px,
    radius: 3px
);

$line-height: (
    reset: 1em
);
