@import "../../config";

.congressman {
    display: flex;
    flex: auto;
    align-items: center;
    max-width: 100%;
}

.congressman__party {
    flex: 0 0 (map_get($space, xl) + map_get($space, xs));
    align-self: flex-start;
}

.congressman__avatar {
    flex: 0 0 (map_get($space, xxl) + map_get($space, xs));
    align-self: flex-start;
}

.congressman__body {
    max-width: calc(100% - #{map_get($space, xl) + map_get($space, xs)} - #{map_get($space, xxl) + map_get($space, xs)});
    flex-grow: 1;
}
