@import "../../config";
@import "../../elements";

.congressman {
    display: flex;
    flex: auto;
    align-items: center;
    max-width: 100%;
}


.congressman__party {
    flex: 0 0 (map_get($space, xl) + map_get($space, xs));
    align-self: flex-start;
    line-height: 0;

    .congressman--sm & {
        flex: 0 0 (map_get($space, md) + map_get($space, xs));
    }

    .congressman--md & {
        flex: 0 0 (map_get($space, xl) + map_get($space, xs));
    }

    .congressman--lg & {
        flex: 0 0 (map_get($space, xxl) + map_get($space, xs));
    }
}

.congressman__avatar {
    flex: 0 0 (map_get($space, xl) + map_get($space, xs));
    align-self: flex-start;
    line-height: 0;

    .congressman--sm & {
        flex: 0 0 (map_get($space, md) + map_get($space, xs));
    }

    .congressman--md & {
        flex: 0 0 (map_get($space, xl) + map_get($space, xs));
    }

    .congressman--lg & {
        flex: 0 0 (map_get($space, xxl) + map_get($space, xs));
    }
}

.congressman__body {
    max-width: calc(100% - #{map_get($space, xl) + map_get($space, xs)} - #{map_get($space, xxl) + map_get($space, xs)});
    flex-grow: 1;

    .congressman--sm & {
        max-width: calc(100% - #{map_get($space, md) + map_get($space, xs)} - #{map_get($space, md) + map_get($space, xs)});
    }

    .congressman--md & {
        max-width: calc(100% - #{map_get($space, xl) + map_get($space, xs)} - #{map_get($space, xl) + map_get($space, xs)});
    }

    .congressman--lg & {
        max-width: calc(100% - #{map_get($space, xxl) + map_get($space, xs)} - #{map_get($space, xxl) + map_get($space, xs)});
    }
}

.congressman__title {
    @include headline-3($ellipsis: true);

    .congressman--sm & {
        @include headline-4($ellipsis: true);
    }

    .congressman--md & {
        @include headline-3($ellipsis: true);
    }

    .congressman--lg & {
        @include headline-2($ellipsis: true);
    }
}
