@mixin circle {
    border-radius: 50%;
}
@mixin rounded {
    border-radius: 5px;
}

@mixin rounded-top {
    border-radius: 5px 5px 0 0;
}

@mixin rounded-bottom {
    border-radius: 0 0 5px 5px;
}

@mixin shadow ($x: 0, $y: 10px, $blur: 50px) {
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.1);
}

@mixin shadow-red {
    box-shadow: 0 10px 50px rgba(227, 63, 54, 0.3);
}

@mixin ellipsis () {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

$breakpoint-values: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);

@mixin breakpoint($name) {
    $val: map_get($breakpoint-values, $name);
    @media (min-width: $val) {
        @content
    }
}

$color-primary: (
    light: #819ca9,
    middle: #546e7a,
    dark: #29434e,
);

$color-secondary: (
    light: #ffffb3,
    middle: #ffe082,
    dark: #caae53,
);

$space: (
    //      7.451rem,  // (119.21px)
    //      5.96rem,   // ( 95.37px)
    //      4.768rem,  // ( 76.29px)
    xxl:    3.815rem,  // ( 61.04px)
    //      3.052rem,  // ( 48.83px)
    xl:     2.441rem,  // ( 39.06px)
    //      1.953rem,  // ( 31.25px)
    lg:     1.563rem,  // ( 25.00px)
    //      1.25rem,   // ( 20.00px)
    md:     1rem,      // ( 16.00px)
    //      0.8rem,    // ( 12.80px)
    sm:     0.64rem,   // ( 10.24px)
    //      0.512rem,  // (  8.19px)
    xs:     0.41rem,   // (  6.55px)
    //      0.328rem,  // (  5.24px)
    xxs:    0.262rem,  // (  4.19px)
);


//        7.451em (119.21px)
//        5.96em   (95.37px)
//        4.768em  (76.29px)
//xxl     3.815em  (61.04px)
//        3.052em  (48.83px)
//xl      2.441em  (39.06px)
//        1.953em  (31.25px)
//lg      1.563em  (25.00px)
//        1.25em   (20.00px)
//md      1em      (16.00px)
//        0.8em    (12.80px)
//sm      0.64em   (10.24px)
//        0.512em   (8.19px)
//xs      0.41em    (6.55px)
//        0.328em   (5.24px)

$font-size: (
    xxxl :   2.441rem,  // (39.06px)
    xxl  :   1.953rem,  // (31.25px)
    xl   :   1.563rem,  // (25.00px)
    lg   :   1.25rem,   // (20.00px)
    md   :   1rem,      // (16.00px)
    sm   :   0.8rem,    // (12.80px)
    xs   :   0.64rem,   // (10.24px)
    xxs  :   0.512rem,  // ( 8.19px)
);

$font-color: (
    main: #496274,
);

$color: (
    white: #ffffff,
    blue: #0000ee,
    purple: #973999,
    pink: #f8598b,
    red: #f8183c,
    orange: #f7bf00,
    green: #368f52,
    gray-light-ultra: #F5F5F6,
    gray-light: #adaba9,
    gray: #496274,
    gray-dark: #59585b,
    black: #2a2e31,
    alert: #58a32d,
    warning: #cbaf3f,
    error: #e33f36,
    text-main: #000,
    text-light: #000,
    text-disabled: #000,

    renameme: #E1EFFA,
);
