@font-face {
    font-family: 'tt-webfont';
    src: url('/fonts/tt-regular-webfont.woff2') format('woff2'); /* Super Modern Browsers */
    font-weight: normal;
}
@font-face {
    font-family: 'tt-webfont';
    src: url('/fonts/tt-medium-webfont.woff2') format('woff2'); /* Super Modern Browsers */
    font-weight: bold;
}

body {
    font-family: 'tt-webfont', sans-serif;
    line-height: 1.25;
    background-color: #fafafa;
    /* Adjust font size */
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    /* Font varient */
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
    /* Smoothing */
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    color: #496274;;
}

body {
    padding: 20px;
}

@import "reset";
@import "index";
