@import "../../../mixins";

.assembly-congressman-panel {
    --issue-grid-coumn-count: 1fr;

    margin: var(--space-l);
    display: grid;
    grid-gap: var(--space-l);
    grid-template-columns: 1fr;
    grid-template-areas:
        'header'
        'votes'
        'sessions'
        'issues'
        'speeches'
        'promotions'
    ;

    @include viewport-9 {
        --issue-grid-coumn-count: 1fr 1fr;

        grid-template-columns: 330px 1fr;
        grid-template-areas:
            'header votes'
            'header issues'
            'header sessions'
            'header speeches'
            'promotions promotions'
        ;
    }

    @include viewport-12 {
        --issue-grid-coumn-count: 1fr 1fr 1fr;

        grid-template-columns: 330px 1fr 1fr;
        grid-template-areas:
            'header votes sessions'
            'header issues speeches'
            'promotions promotions promotions'
        ;
    }
}

.assembly-congressman-panel__title {
    text-align: center;
    padding: var(--space-m) 0 var(--space-s) 0;
    font-size: var(--font-size-l);
}
.assembly-congressman-panel__subtitle {
    text-align: center;
    font-weight: 300;
    font-size: var(--font-size-m);
}

.assembly-congressman-panel__header {
    grid-area: header;
}

.assembly-congressman-panel__votes {
    grid-area: votes;
}

.assembly-congressman-panel__issues {
    grid-area: issues;
}

.assembly-congressman-panel__sessions {
    grid-area: sessions;
}

.assembly-congressman-panel__speeches {
    grid-area: speeches;
}

.assembly-congressman-panel__promotions {
    grid-area: promotions;
}

.assembly-congressman-panel__icon-container {
    width: var(--size-l);
    margin: auto;
}

.assembly-congressman-panel__headline {
    font-size: var(--font-size-m);
    font-weight: 500;
    margin-bottom: var(--space-m);
}
