
@font-face {
    font-family: 'tt-webfont';
    src: url('/fonts/tt-commons-thin.woff2') format('woff2');
    font-weight: 100;
}

@font-face {
    font-family: 'tt-webfont';
    src: url('/fonts/tt-commons-regular.woff2') format('woff2');
    font-weight: 300;
}

@font-face {
    font-family: 'tt-webfont';
    src: url('/fonts/tt-commons-demibold.woff2') format('woff2');
    font-weight: 500;
}

:root {

    --color-white: #ffffff;
    --color-black: #000000;
    --color-off-white: #FEF8F3;
    --color-off-black: rgb(10, 10, 10);
    --color-red: #F0755B;
    --color-green: #65a765;
    --color-yellow: #e6e65f;
    --color-orange: #e6aa5f;
    --color-blue: #5c49a7;
    --color-purple: #a7498f;
    --color-gray-light: rgb(230, 230, 230);
    --color-gray-middle: rgb(150, 150, 150);
    --color-gray-dark: rgb(80, 80, 80);



    --space-s: .64rem;
    --space-m: 1rem;
    --space-l: 1.953rem;

    --size-xxs: 0.262rem;
    --size-xs: 0.41rem;
    --size-s: 0.64rem;
    --size-m: 1rem;
    --size-l: 1.563rem;
    --size-xl: 2.441rem;
    --size-xxl: 3.815rem;

    --font-size-s: 0.8rem;
    --font-size-m: 1rem;
    --font-size-l: 1.563rem;

    --font-color-primary: var(--color-off-black);
    //--font-color-shaded: var(--color-gray-middle);
    //--font-color-secondary: var(--color-gray-middle);
}

html, body {
    box-sizing: border-box;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: 'tt-webfont', sans-serif;
    line-height: 1.25;
    background-color: var(--color-off-white);
    font-size: 100%;
    font-weight: 300;
    -webkit-text-size-adjust: 100%;
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    color: var(--font-color-primary);
}

a,
a:hover,
a:visited,
a:active {
    //color: #0000ee;
    text-decoration: inherit;
}
